@import 'inc';

.wwd {
  &-webdev {
    background-color: #280e3c;
    position: relative;

    .wwd-page__title {
      position: relative;
    }

    &__img {
      position: absolute;
      right: 15rem;
      top: 0;

      @include media(lg) {
        top: rem(100);
        width: 70%;
      }
    }

    &__video {
      padding-top: rem(50);

      video {
        width: 100%;
      }
    }

    &__app-item {
      width: calc(50% - #{rem(70)});
      margin-bottom: rem(55);
      z-index: 1;

      @include media(lg) {
        width: calc(100% - #{rem(70)});
      }

      @include media(sm) {
        width: 100%;
      }

      h4,
      h5 {
        font-weight: 600;
        color: $c-rose;
        line-height: rem(29);
      }

      h4 {
        font-size: rem(24);
        margin-bottom: rem(25);
      }

      h5 {
        font-size: rem(18);
        margin-bottom: rem(25);
      }

      p {
        color: #ffffff;
        display: block;
        font-size: rem(14);
        line-height: rem(26);
        padding-left: rem(45);
        position: relative;

        span {
          &:not(:last-child) {
            padding-bottom: rem(40);
            display: block;
          }
        }

        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 5px;
          left: 0;
          height: calc(100% - 9px);
          width: 5px;
          background: linear-gradient(
            60deg,
            #49448b 0%,
            rgba(66, 87, 167, 0) 112.3%
          );
        }
      }
    }

    &__approach {
      padding-bottom: rem(80);

      h2 {
        text-align: center;
        margin-bottom: rem(70);
      }
    }

    &__tech {
      padding: rem(230) 0;
      margin: rem(80) 0;
      background: linear-gradient(
        46.25deg,
        rgba(223, 81, 157, 0.3) -188.21%,
        #280e3c 60.25%
      );
      color: #ffffff;
      position: relative;
      overflow: hidden;

      @include media(lg) {
        padding: 0;
      }

      > img {
        position: absolute;
        bottom: -6%;
        left: 0;

        @include media(sm) {
          bottom: inherit;
          top: 0;
          min-width: 100%;
          min-height: 100%;
        }
      }

      .container {
        @include flex(row, space-between);

        @include media(sm) {
          flex-wrap: wrap;
        }
      }

      main {
        width: calc(50% - #{rem(20)});

        @include media(sm) {
          width: 100%;
        }

        h2 {
          letter-spacing: 0.1em;
          line-height: rem(53);
          margin-bottom: rem(40);

          @include media(lg) {
            font-size: rem(36);
            line-height: rem(45);
          }

          @include media(sm) {
            font-size: rem(24);
            line-height: rem(35);
            margin-bottom: rem(25);
          }
        }

        p {
          font-size: rem(18);
          line-height: rem(33);
        }
      }

      ul {
        width: calc(50% - #{rem(20)});
        flex-wrap: wrap;
        position: relative;
        @include flex;

        @include media(sm) {
          width: 100%;
        }

        li {
          height: rem(200);
          width: 33.333%;
          position: relative;
          @include flex;

          @include media(lg) {
            width: 50%;
          }

          &:hover {
            &:before {
              transform: skew(0, -20deg) translate(0, 50%);
              opacity: 1;
            }

            svg {
              path {
                fill: #ffffff;
              }
            }
          }

          &:before {
            position: absolute;
            content: '';
            display: inline-block;
            width: 100%;
            height: 100px;
            top: 0;
            left: 0;
            transform: skew(0, -20deg) translate(-100%, 50%);
            transition: transform 0.5s cubic-bezier(1, 0, 0.33, 0.94),
              opacity 0.5s cubic-bezier(1, 0, 0.33, 0.94);
            background: linear-gradient(
              67.39deg,
              #df519d 9.87%,
              rgba(66, 87, 167, 0) 91.57%
            );
            opacity: 0;
          }

          svg {
            position: relative;
            z-index: 1;

            path {
              transition: fill 0.3s linear;
              fill: $c-rose;
            }
          }
        }
      }
    }
  }
}
