@import 'inc';

@media screen and (min-width: 992px) {
  .wwd-dedicated-team .wwd-page__title h1 {
    font-size: rem(114) !important;
  }
}

.wwd-dedicated-team {
  background-color: #1b123f;
  position: relative;

  .estimate.wwd-dedicated-team__estimate{
		padding-bottom: 100px;
  }

  &__why-us{
		margin-bottom: 225px;
		background: url(../../images/our-approach/why-us-bg.png) no-repeat left center,
								url(../../images/our-approach/why-us-triangle.svg) no-repeat 10% top;				

	  &-content{
	  	padding-top: 5.625rem;
	    position: relative;
	    display: flex;
	    align-items: flex-start;
	    justify-content: flex-end;

	    &-container{
				width: 56%;

				@include media(sm) {
					width: 100%;
				}

				h2{
					margin-bottom: rem(40);
          letter-spacing: 0 !important;
				}

				.btn{
					display: block;
					max-width: 333px;
					margin-left: rem(45); 
				}
	    }

	    .wwd-webdev__app-item{
	    	width: 100% !important;
	    }
	  }  	
  }

	.wwd-webdev__app-item{
    width: calc(56% - 4.375rem);
    margin-bottom: rem(20);

		@include media(lg) {
			width: calc(100% - #{rem(70)});
		}

		@include media(sm) {
			width: 100%;
		}
	}

  .hiw-item:last-child:before{
  	left: 100%;
  }

  .logos-des{
  	top: 37%;
  }

  &__bg {
    padding-top: 57%;
    position: relative;
    margin-top: -10%;

    @include media(xl) {
      padding-top: 75%;
    }

    @include media(md) {
      padding-top: 100%;
    }

    @include media(sm) {
      padding-top: 0;
    }

    &-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      @include media(sm) {
        position: static;
        flex-direction: column;
        align-items: flex-start;
        margin-top: -42%;
        padding: 0;
        height: auto;
      }

      .container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
      }

      .wwd-mobile__platform-os {
        margin-top: 27%;
        width: 50%;
        position: relative;
        z-index: 5;

        @include media(md) {
          width: 100%;
        }

        @include media(sm) {
          margin-top: 3%;
        }
      }

      img {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        transition: opacity 0.3s linear;
        z-index: 3;

        @include media(sm) {
          position: relative;
          width: 140%;
        }
      }

      ul {
        color: #ffffff;

        @include media(sm) {
          margin-top: rem(50);
          padding-left: 10%;
        }

        li {
          border-left: 2px solid $c-rose;
          padding-left: rem(66);
          height: rem(177);
          position: relative;
          padding-top: 20%;
          margin-bottom: rem(50);

          @include media(md) {
            height: rem(150);
            padding-top: 15%;
          }

          &:before {
            content: '';
            display: inline-block;
            background-image: linear-gradient(
              69.67deg,
              #df519d 0%,
              rgba(66, 87, 167, 0) 48.57%
            );
            opacity: 0.75;
            position: absolute;
            top: 0;
            left: 2px;
            height: 100%;
            width: rem(600);
            transform: skewY(-20deg) translateY(-62%);

            @include media(md) {
              transform: skewY(-20deg) translateY(-73%);
            }
          }

          span {
            position: relative;
            font-weight: 600;
            font-size: rem(24);
          }
        }
      }
    }
  }
}
