@import 'inc';

.main-title {
	padding: rem(20);
	margin: 0 rem(-20);

	@include media(sm) {
		margin-bottom: rem(30);
	}

	&.enter {
		overflow: hidden;

		span {
			transform: translate(0);
			text-shadow: rem(4) 0px rem(30) rgba(0, 0, 0, .5);
		}
	}

	h1 {
		color: #ffffff;
		// margin-bottom: rem(30);
		@include text(130, 900, 1.3, 0.1em);

		@include media(xl) {
			font-size: rem(100);
		}

		@include media(md) {
			font-size: rem(65);
		}

		@include media(sm) {
			font-size: rem(45);
		}

		span {
			transform: translate(100vw);
			transition: transform 1s ease-in;
			will-change: transform;
			display: inline-block;
		}
	}
}
