@import 'inc';

.bg-el {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;

	img {
		will-change: transform;
	}

	&__1 {
		position: absolute;
		top: rem(115);
		left: rem(220);
		max-width: rem(171.76);

		@include media(md) {
			left: rem(20);
		}

		@include media(sm) {
			display: none;
		}

		@media only screen and (max-width: 830px) and (max-height: 414px) {
			display: none;
		}
	}

	&__2 {
		position: absolute;
		top: rem(163);
		right: rem(153);
		max-width: rem(240);

		@include media(md) {
			right: rem(20);
		}

		@include media(sm) {
			display: none;
		}

		@media only screen and (max-width: 830px) and (max-height: 414px) {
			display: none;
		}
	}

	&__3 {
		position: absolute;
		bottom: rem(111);
		left: rem(240);
		max-width: rem(1057);

		@include media(md) {
			left: -50%;
			bottom: 20%;
		}

		@include media(sm) {
			display: none;
		}

		@media only screen and (max-width: 830px) and (max-height: 414px) {
			display: none;
		}
	}

	&__4 {
		position: absolute;
		bottom: rem(-80);
		left: rem(-300);
		max-width: rem(455);

		@include media(sm) {
			left: rem(-220);
			bottom: rem(-40);
		}
	}

	&__5 {
		position: absolute;
		bottom: rem(-80);
		right: rem(-140);
		max-width: rem(642);

		@include media(sm) {
			display: none;
		}

		@media only screen and (max-width: 830px) and (max-height: 414px) {
			display: none;
		}
	}

	&__6 {
		display: none;

		@include media(sm) {
			display: block;
			position: absolute;
			top: 25%;
			right: 0;
			max-width: rem(642);
		}
	}
}
